[tools]
rust = { version = "1.91.1", profile = "minimal", components = "rustfmt,clippy" } # the rust tool stack (with cargo, fmt, clippy) to build source
# "aqua:cargo-bins/cargo-binstall" = "1" # do not use cargo-binstall (it's a special name used by mise)
java = "21"         # require by jreleaser
jreleaser = "1.9"
