[package]
name = "ffizer"
version = "0.7.0"
authors = ["David Bernard"]
description = "ffizer is a files and folders initializer / generator. Create any kind (or part) of project from template."
readme = "README.md"
license = "CC0-1.0"
keywords = ["project", "generator", "template", "skeleton"]
categories = ["command-line-utilities", "development-tools"]
repository = "https://github.com/davidB/ffizer"
homepage = "https://github.com/davidB/ffizer"
exclude = ["/.travis.yml", ".gitignore", "/tests/**"]

[dependencies]
Inflector = "0.11.3"
console = "0.7.0"
dialoguer = "0.3.0"
directories = "1.0.2"
failure = "0.1.3"
git2 = "0.7.5"
globset = "0.4.2"
handlebars = "1.1.0"
indicatif = "0.10.1"
lazy_static ="1.2.0"
regex = "1.0.6"
reqwest = "0.9.5"
serde = "1.0"
serde_derive = "1.0"
serde_yaml = "0.8"
slog = { version= "2.4.1", features = ["max_level_trace", "release_max_level_warn"] }
slog-async = "2.3.0"
slog-term = "2.4.0"
structopt = "0.2.13"
walkdir = "2.2.7"

[dev-dependencies]
assert_cmd = "0.10.2"
# rexpect = "0.3"
spectral = "0.6.0"
tempfile = "3.0.5"

[[bin]]
name = "ffizer"
path = "src/main.rs"
doc = false

[target.'cfg(all(unix, not(target_os = "redox")))'.dependencies]
libc = "0.2"

[target.'cfg(windows)'.dependencies]
kernel32-sys = "0.2"
winapi = "0.3"

[profile.release]
lto = true
panic = 'abort'
