[package]
name = "ffizer"
version = "1.4.1-dev"
authors = ["David Bernard"]
description = "ffizer is a files and folders initializer / generator. Create any kind (or part) of project from template."
readme = "README.md"
license = "CC0-1.0"
keywords = ["project", "generator", "template", "skeleton"]
categories = ["command-line-utilities", "development-tools", "template-engine"]
repository = "https://github.com/ffizer/ffizer"
homepage = "https://github.com/ffizer/ffizer"
exclude = ["/azure-pipelines.yml", "/docs/**", "/scripts/**", ".gitignore", "/tests/**"]
edition = "2018"

[dependencies]
console = "0.9.0"
dialoguer = "0.4.0"
directories = "2.0.2"
git2 = "0.10.1"
git2_credentials = "0.3.2"
globset = "0.4.4"
handlebars = "2.0.2"
handlebars_misc_helpers = "0.5.2"
hashbrown = "0.6"
human-panic = { version = "1.0.1", optional = true}
indicatif = "0.12.0"
lazy_static ="1.4.0"
regex = "1.3.1"
self_update = { version = "0.7.0", optional = true}
serde = { version = "1.0", features = [ "derive"] }
serde_plain = "0.3.0"
serde_yaml = "0.8"
slog = { version = "2.5.2", features = ["max_level_trace", "release_max_level_warn", "nested-values"] }
slog-async = { version = "2.3.0", optional = true }
slog-term = { version = "2.4.1", optional = true }
snafu = "0.5.0"
structopt = "0.3.1"
walkdir = "2.2.9"

[dev-dependencies]
assert_cmd = "0.11.1"
# rexpect = "0.3"
spectral = "0.6.0"
tempfile = "3.1.0"
test-generator = "0.3.0"

[[bin]]
name = "ffizer"
path = "src/main.rs"
doc = false
# HACK to define dependencies only for cli
# see https://github.com/rust-lang/cargo/issues/1982
required-features = ["cli"]

[target.'cfg(all(unix, not(target_os = "redox")))'.dependencies]
libc = "0.2"
openssl = { version = "0.10", features = ["vendored"] }

[target.'cfg(windows)'.dependencies]
kernel32-sys = "0.2"
winapi = "0.3"

[profile.release]
lto = true
panic = 'abort'
opt-level = 'z'  # Optimize for size.
codegen-units = 1

[features]
test_remote = [] # feature has no explicit dependencies
cli = ["self_update", "human-panic", "slog-async", "slog-term"]
