[package]
name = "ffizer"
version = "1.1.0"
authors = ["David Bernard"]
description = "ffizer is a files and folders initializer / generator. Create any kind (or part) of project from template."
readme = "README.md"
license = "CC0-1.0"
keywords = ["project", "generator", "template", "skeleton"]
categories = ["command-line-utilities", "development-tools"]
repository = "https://github.com/ffizer/ffizer"
homepage = "https://github.com/ffizer/ffizer"
exclude = ["/azure-pipelines.yml", "/docs/**", "/scripts/**", ".gitignore", "/tests/**"]
edition = "2018"

[dependencies]
Inflector = "0.11.4"
console = "0.7.7"
dialoguer = "0.4.0"
directories = "2.0.1"
failure = "0.1.5"
git2 = "0.9.1"
git2_credentials = "0.3.0"
globset = "0.4.4"
handlebars = "2.0.0"
human-panic = "1.0.1"
indicatif = "0.11.0"
lazy_static ="1.3.0"
regex = "1.1.9"
reqwest = "0.9.18"
self_update = "0.5.1"
serde = { version = "1.0", features = [ "derive"] }
serde_plain = "0.3.0"
serde_yaml = "0.8"
slog = { version= "2.4.1", features = ["max_level_trace", "release_max_level_warn"] }
slog-async = "2.3.0"
slog-term = "2.4.0"
structopt = "0.2.18"
walkdir = "2.2.8"

[dev-dependencies]
assert_cmd = "0.11.1"
# rexpect = "0.3"
spectral = "0.6.0"
tempfile = "3.1.0"
test-generator = "0.2.2"

[[bin]]
name = "ffizer"
path = "src/main.rs"
doc = false

[target.'cfg(all(unix, not(target_os = "redox")))'.dependencies]
libc = "0.2"
openssl = { version = "0.10", features = ["vendored"] }

[target.'cfg(windows)'.dependencies]
kernel32-sys = "0.2"
winapi = "0.3"

[profile.release]
lto = true
panic = 'abort'
opt-level = 'z'  # Optimize for size.
codegen-units = 1

[features]
test_remote = [] # feature has no explicit dependencies
