[package]
name = "ffizer"
version = "0.3.0"
authors = ["David Bernard"]
description = "ffizer is a files and folders initializer / generator. Create any kind (or part) of project from template."
readme = "README.md"
license = "CC0-1.0"
keywords = ["project", "generator", "template", "skeleton"]
categories = ["command-line-utilities", "development-tools"]
repository = "https://github.com/davidB/ffizer"
homepage = "https://github.com/davidB/ffizer"
exclude = ["/.travis.yml", ".gitignore", "/tests/test_1"]

[badges]
maintenance = { status = "experimental" }
#travis-ci = {repository = "davidB/ffizer"}

[dependencies]
dialoguer = "0.2.0"
directories = "1.0.2"
failure = "0.1.3"
#git2 = { version = "0.7.5", features = [], default-features = false }
git2 = "0.7.5"
globset = "0.4.2"
handlebars = "1.1.0"
indicatif = "0.9.0"
lazy_static ="1.2.0"
regex = "1.0.6"
serde = "1.0"
serde_derive = "1.0"
serde_yaml = "0.8"
slog = { version= "2.4.1", features = ["max_level_trace", "release_max_level_warn"] }
slog-async = "2.3.0"
slog-term = "2.4.0"
structopt = "0.2.13"
walkdir = "2.2.7"

[dev-dependencies]
assert_cmd = "0.10.1"
# rexpect = "0.3"
spectral = "0.6.0"
tempfile = "3.0.4"

[[bin]]
name = "ffizer"
path = "src/main.rs"
doc = false

[target.'cfg(all(unix, not(target_os = "redox")))'.dependencies]
libc = "0.2"

[target.'cfg(windows)'.dependencies]
kernel32-sys = "0.2"
winapi = "0.3"
