on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string

jobs:
  universal:
    name: "Build all-apple-darwin"
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Download artifacts
        uses: actions/download-artifact@v7
        with:
          path: artifacts
          pattern: artifacts-*
          merge-multiple: true

      - name: Build binary
        shell: bash
        run: |
          mkdir -p target/all-apple-darwin/release
          ls -l
          cd artifacts
          ls -l
          tar -xzf ffizer_${{ inputs.version }}-x86_64-apple-darwin.tgz
          tar -xzf ffizer_${{ inputs.version }}-aarch64-apple-darwin.tgz
          lipo -create ffizer_${{ inputs.version }}-x86_64-apple-darwin/bin/ffizer \
            ffizer_${{ inputs.version }}-aarch64-apple-darwin/bin/ffizer \
            -output ../target/all-apple-darwin/release/ffizer

      - name: Assemble
        uses: jreleaser/release-action@v2
        with:
          arguments: assemble
        env:
          JRELEASER_PROJECT_VERSION: ${{ inputs.version }}
          JRELEASER_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          JRELEASER_PLATFORM_OVERRIDE: osx

      - name: Upload artifacts
        uses: actions/upload-artifact@v5
        with:
          retention-days: 1
          name: artifacts-all-apple-darwin
          path: |
            out/jreleaser/assemble/ffizer/archive/*.zip
            out/jreleaser/assemble/ffizer/archive/*.tgz

      - name: JReleaser output
        if: always()
        uses: actions/upload-artifact@v5
        with:
          retention-days: 1
          name: jreleaser-all-apple-darwin
          path: |
            out/jreleaser/trace.log
            out/jreleaser/output.properties
